<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    
    <add key="RollUpData" value="D:\Account Roll Up\data.csv" />
    <add key="ResultRollUpData" value="D:\Account Roll Up\result.txt" />
    <add key="ResultRollUpHierarchyFile" value="D:\Account Roll Up\resulthierarchy.txt" />
    <add key="ResultRollUpTargetFile" value="D:\Account Roll Up\resulttarget.txt" />
  
  </appSettings>
</configuration>